/** Page layout **/

html {
	height: 100%;
}

body {
	background-color: #000;
	color: #FFF;
	min-height: 100%;
	position: relative;
	font-family: Sans-serif;
	font-size: 16px;
}

.background {
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgb(0, 0, 0);
	background-image: url("/img/theme/BG.png");
	position: absolute;
	pointer-events: none;
}

.background-left {
	background-color: rgba(0,0,0,0);
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;
}

.background-right {
	background-color: rgba(0,0,0,0);
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}

::selection {
	background-color: rgba(255, 255, 255, .99);
	color: #222;
}

.page {
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 5px 40px 80px 40px;
}

/* Stylized Elements */

.menu .title-decorator-container {
	vertical-align: bottom;
}

.title-decorator-container {
	width: 34px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-color: #505050;
	margin-right: 5px;
}

.title-decorator {
	width: 34px;
	position: absolute;
	animation: maskdown-first 3s infinite ease-out;
}

.title-decorator-icon {
	height: 34px;
	background-size: 34px;
	animation: none;
}

.title-decorator-blue .title-decorator-icon {
	filter: invert(1);
}

.title-decorator-gray {
	background-color: #505050;
	animation: maskdown-second 3s infinite ease-out;
}

@keyframes maskdown-first {
 0% { height: 0px; }
 20% { height: 34px; }
 100% { height: 34px; }
}

@keyframes maskdown-second {
 0% { height: 0px; }
 50% { height: 0px; }
 70% { height: 34px; }
 100% { height: 34px; }
}

.inline-tag {
	background-color: #505050;
	color: #fff;
	display: inline;
	font-size: 12px;
	overflow: auto;
	padding: 2px 5px;
	vertical-align: middle;
	margin-left: 5px;
	font-family: monospace;
}

.glyphicon {
	vertical-align: middle;
}

/** Cards **/

.ctfx-card {
	background-color: #222;
	color: #fff;
	border: none;
	border-radius: 0px;
	margin-bottom: 10px;
}

.ctfx-card-head {
	background-color: #505050;
	padding: 15px 15px 5px 15px;
	border-bottom: 5px solid #0B90FD;
}

.ctfx-card-head small {
	color: rgba(255, 255, 255, 0.6)
}

.ctfx-card-head h4 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 6px;
	color: #FFF;
	display: inline-block;
}

.ctfx-card-head a {
	color: #FFF !important;
	font-weight: bold;
}

.ctfx-card-body {
	word-break: break-word;
	padding: 15px;
	padding-bottom: 10px;
}

.ctfx-simple-card {
	display: inline-block;
	background-color: #505050;
	color: #fff;
	font-weight: bold;
	max-width: 45%;
	margin: 0px 5px 5px 0px;
	padding: 10px;
}

.ctfx-simple-card .card-icon {
	float: left;
	width: 32px;
	margin-right: 10px;
}

.ctfx-simple-card .card-content {
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	clear: both;
}

.ctfx-simple-card .card-content .card-text {
	color: #B0B0B0;
}

/** Dropdown menus **/

.dropdown-menu {
	border: none;
	border-radius: 0px;
	margin-top: 0px;
	padding: 0px;
}

.dropdown-menu li a {
	background-color: #505050;
	color: #fff;
	transition: none;
	padding: 5px 20px;
}

.dropdown-menu li a:hover {
	background-color: #C2E812;
	color: #000;
}

.dropdown-header {
	background-color: #707070;
	color: #fff;
	padding: 5px 20px;
}

.dropdown-header::before {
	content: ">> ";
}

/** Buttons **/

.btn {
	border: none;
	border-radius: 0px;
	opacity: 1 !important;
	outline: none;
}

.btn.disabled {
	background-color: #fff;
	color: #222;
}

.btn-xs {
	background-color: #505050;
	box-shadow: none !important;
	color: #fff;
	padding: 5px 10px;
	transition: all 200ms ease-in-out;
	font-size: 16px;
	min-height: 34px;
	min-width: 34px;
	margin-right: 5px;
}

.btn-xs:hover {
	color: #FFF;
}

.menu .btn-xs {
	margin-top: 5px;
}

small .btn-xs {
	vertical-align: bottom;
}

.btn-lg {
	position: relative;
	min-width: 240px;
	min-height: 45px;
	padding: 7px 20px;
	font-size: 20px;
	background-color: #fff;
	color: #000;
	z-index: 1;
	text-transform: uppercase;
	transition: color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 200ms ease-in-out;
}

.btn-lg:hover {
	color: #fff;
}

.btn-lg::before {
	position: absolute;
	width: 100%;
	height: 5px;
	z-index: -1;
	bottom: 0;
	left: 0;
	content: "";
	transition: height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-lg:hover::before {
	height: 100%;
}

.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active {
	background-color: #0B90FD;
	color: #fff;
}

.btn-2:hover, .btn-2:active, .btn-2:focus, .btn-2.active {
	background-color: #C2E812;
	color: #000;
}

.btn-3:hover, .btn-3:active, .btn-3:focus, .btn-3.active {
	background-color: #F2542D;
	color: #fff;
}

.btn-4:focus, .btn-4:active {
	background-color: #505050;
	color: #fff;
}

.btn-4 {
	min-width: 120px;
}

.btn-1::before {
	background-color: #0B90FD;
}

.btn-2::before {
	background-color: #C2E812;
}

.btn-3::before {
	background-color: #F2542D;
}

.btn-4::before {
	background-color: #505050;
}

/** Default HTML Elements **/

h2 {
    font-weight: bold;
}

h2, h3 {
	margin: 0px;
}

h4 {
	font-size: 22px;
	margin: 0px;
}

a {
	color: #0B90FD;
	outline: none !important;
	transition: color 200ms ease-in-out;
}

a:hover, a:focus {
	color: #C2E812;
}

img::selection {
	background: none;
}

select {
	cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

textarea {
	min-height: 38px;
	resize: vertical;
}

/** Forms **/

.form-horizontal .control-label {
	padding-top: 4px;
}

.control-label {
	font-size: 18px;
	padding-top: 4px;
	white-space: nowrap;
}

.form-control {
	font-weight: bold;
	font-size: 20px;
	background-color: #FFF;
	color: #0a0a0a;
	border: none;
	border-radius: 0px;
	height: auto;
	box-sizing: border-box;
	padding: 5px 5px 5px 12px;
}

.form-control:focus {
	border: none;
	box-shadow: none;
}

.form-control::selection {
	background-color: rgba(10, 10, 10, 0.99);
	color: #fff;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
	position: relative;
}

.form-group {
	margin-bottom: 5px;
	width: 100%;
}

.form-group .form-tip {
	position: absolute;
	right: 0;
	top: 0;
}

.form-group input[type='checkbox'] {
    -webkit-appearance: none;
    width: 34px;
    height: 34px;
    margin-top: 0px;
    margin-right: 5px;
    float: left;
    background-color: #505050;
    border-style: solid;
    border-width: 0px;
	transition: border-bottom 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form-group input[type='checkbox']:checked {
    border-bottom-width: 34px;
}

.form-group input[type='checkbox']:hover {
    cursor: pointer;
}

.form-group input[type='checkbox']:focus {
	outline: none;
}

.form-group input[type='checkbox']::after {
    background: url("/img/ui/unchecked.png");
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
}

.form-group input[type='checkbox']:checked::after {
    background: url("/img/ui/checked.png");
    filter:invert(1);
}

.form-group input[type='checkbox'].checkbox-green:checked::after {
    filter:none;
}

.discreet-inline button {
	-webkit-appearance: none;
	background: transparent;
	border: none;
	padding: 0;
	font-weight: bold;
}

/** Tables **/

.table {
	margin-bottom: 15px;
}

.table-striped > tbody > tr:nth-last-of-type(2n) {
	background-color: rgba(10, 10, 10, 0.125);
}

.table-striped > tbody > tr:nth-last-of-type(2n+1) {
	background-color: rgba(255, 255, 255, 0.125);
}

.table-striped > tbody > tr:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.table > tbody > tr > td {
	vertical-align: middle;
	border-top: none;
}

td a {
	color: #FFF;
	font-weight: bold;
}

td a:hover {
	color: #FFF;
}

/** Header **/

#header {
	background-color: #000;
	background-image: url("/img/theme/headerWave.png");
	background-position-x: left;
	background-repeat: no-repeat;
	border-bottom: 5px solid #0B90FD;
	min-height: 61px;
	overflow: auto;
	padding: 10px 65px 0px 65px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 13px;
}

#header-logo {
	height: 50px;
	position: absolute;
	top: 4px;
	left: 12px;
}

#site-logo-text {
	color: #000;
	float: left;
	display: inline-block;
	font-weight: bold;
	margin-top: 7px;
}

#menu-main a, #menu-main button {
	color: #fff;
	opacity: 1;
	margin-top: 8px;
	padding: 2px 6px;
	text-transform: uppercase;
	background: none;
	border: none;
	cursor: pointer;
	text-align: inherit;
	background: linear-gradient(to right, white 49.9%, black 49.9%);
	background-position: right;
	background-size: 200% 100%;
	border-radius: 0px;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#menu-main li {
	margin-left: 50px;
}

#menu-main .active a, #menu-main a:hover, #menu-main .active button, #menu-main button:hover {
	color: #000;
	background-position: left;
}

/** Footer **/

#footer {
	font-size: 13px;
	text-align: center;
	padding: 5px 65px 15px 65px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/** Home Page **/

#home-logo {
	width: 70%;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	background: url("/img/logo.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.home-intro-text {
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

/** News **/

.news-body {
	font-size: 20px;
	padding: 5px 5px 5px 15px;
}

/** Challenges page **/

#category-name {
	font-size: 42px;
	font-weight: bold;
	display: inline-block;
    white-space: nowrap;
}

#category-description {
	margin: 5px 0px;
	line-height: 1.3;
}

.challenge-solved .ctfx-card-head {
	background: rgb(11,144,253);
	background: linear-gradient(90deg, rgba(11,144,253,1) 0%, rgba(13,156,254,1) 60%, rgba(15,196,254,1) 100%);
	border-bottom: 0px solid #0B90FD;
	padding-bottom: 10px;
}

.ctfx-card-head .time-left {
	float: right;
	color: #FFF;
	margin-top: 2px;
}

.ctfx-card-head .glyphicon-time {
	margin-right: 5px;
	margin-top: 4px;
}

.challenge-solved-text {
    float: right;
    color: #FFF;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.challenge-solved-icon {
    float: right;
    position: relative;
	bottom: 3px;
    background-image: url("/img/ui/checked.png");
    width: 34px;
    height: 34px;
    filter: invert(1);
}

.challenge-description {
	margin-bottom: 10px;
}

.challenge-file {
	font-size: 20px;
	margin-bottom: 5px;
}

.challenge-file a:not(.btn) {
	color: #fff;
	padding: 5px;
	vertical-align: middle;
	background: linear-gradient(to right, #0B90FD 49.9%, rgba(0,0,0,0) 49.9%);
	background-position: right;
	background-size: 200% 100%;
	transition: background-position 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.challenge-file a:hover {
	text-decoration: none;
	background-position: left;
}

/** User page **/

.user-image {
	width: 128px;
	height: 128px;
	background-size: cover;
	display: inline-block;
	margin-right: 10px;
}

.user-description {
	display: inline-block;
	vertical-align: top;
}

/** Scoreboard **/

.podium {
	text-align: center;
	margin-bottom: 5px;
	min-height: 218px;
}

.podium-position {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}

.podium-name {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.podium-name a {
	color: #FFF;
}

.our-team {
	color: #0B90FD !important;
}

.team-table tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.team-table {
	font-weight: bold;
}

.team-table tbody tr {
	background-color: rgba(10, 10, 10, 0.125) !important;
}

.team-table .team-number {
	display: inline;
	color: #505050;
}

.team-table .team-name {
	max-width: 200px;
	width: 20px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 0px;
}

.team-table .team-flag {
	width: 26px;
	padding: 0px;
}

.team-table .team-progress-bar {
	float: left;
	width: 100%;
	border-bottom: 5px solid #505050;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
}

.team-table .progress {
	background: none;
	margin-bottom: 0px;
	height: 23px;
}

.progress svg {
	width: 0px;
}

.team-table .progress svg {
	width: 23px;
	float: right;
}

.team-table .progress-bar {
	background-color: #0B90FD;
}

.team-table .team-score {
	position: absolute;
	margin-left: -3px;
}

.challenge-table .team-name {
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/** Admin panel **/

.dashboard-panel {
	overflow: auto;
	max-height: 500px;
	margin-bottom: 10px;
}

/** Messages / Modal dialogs **/

.modal-header {
	border: none;
	padding: 15px 15px 0px 15px;
}

.modal-header .close {
	position: absolute;
	right: 20px;
	z-index: 1;
	font-family: Sans-serif;
	font-weight: normal;
	font-size: 40px;
	transition: opacity 200ms ease-in-out;
}

.modal-header .close:hover {
	opacity: 1;
}

.modal-content {
	max-width: 1100px;
	color: #000;
	border: none;
	border-radius: 0px;
}

.modal.challenge-attempt .modal-header {
	background: no-repeat 50% 3px;
	background-size: 70px;
	color: white;
	min-height: 70px;
}

.modal.challenge-attempt.incorrect .modal-header {
	background-image: url('/img/ui/padlock_white.svg');
	background-color: #F2542D;
}

.modal.challenge-attempt.correct .modal-header {
	background-image: url('/img/ui/flag_white.svg');
	background-color: #0B90FD;
}

.modal.challenge-attempt.manual .modal-header {
	background-image: url('/img/ui/padlock_white.svg');
	background-color: #C2E812;
	color: #000;
}

.modal.challenge-attempt button {
	float: right;
}

.modal.challenge-attempt p {
	float: left;
	margin-top: 12px;
}

.modal.challenge-attempt .modal-body {
	overflow: auto;
	vertical-align: middle;
}

.message-centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.message-centered img {
	width: 128px;
	height: 128px;
	margin-right: 10px;
}

.message-centered span {
	vertical-align: middle;
	display: inline-block;
}

.message-centered .message {
	font-size: 42px;
	font-weight: bold;
}

.message-centered .submessage {
	font-size: 18px;
	color: #C2E812;
}

/** Alerts **/

.alert {
	vertical-align: middle;
	border: none;
	background: none;
	padding: 0px;
	font-family: Sans-serif;
	font-size: 20px;
	margin-bottom: 5px;
	line-height: normal;
}

/** Progress Bars **/

.progress {
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 10px;
	border-radius: 0px;
}

.progress-striped .progress-bar-info, .progress-striped .progress-bar-success {
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

.progress-bar-info, .progress-bar-success {
	background-color: #0B90FD;
}

/** BBCode **/

.bbcode_code_head, .bbcode_quote_head {
	display: none;
}

.bbcode_code_body {
	background: #FFF;
	color: #000;
	font-family: monospace;
	padding: 5px;
	line-height: 1.25;
	overflow-x: auto;
	margin-bottom: 5px;
}

.bbcode_code_body::selection {
	background: #000;
	color: #FFF;
}

.bbcode_quote_body {
	background: #505050;
	padding: 5px;
	border-left: 5px solid #FFF;
	margin-bottom: 5px;
}

.bbcode_spoiler {
	background-color: #FFF;
	color: #FFF;
}

.bbcode_spoiler::selection {
	background-color: #FFF;
	color: #FFF;
}

.bbcode_spoiler:hover {
	color: #000;
}

.bbcode_img {
    max-width: 100%;
}

/** Misc **/

.g-recaptcha {
	margin-bottom: 3px;
}

.typewriter {
	display: inline-block;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
	animation: typewriter 1s steps(44) 0.25s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite;
}

@keyframes typewriter {
  from {max-width: 0;}
  to {max-width: 100%; border-right: none;}
}

@keyframes blinkTextCursor {
  from {border-right-color: rgba(255,255,255,.75);}
  to {border-right-color: transparent;}
}

.typewriter small {
	margin-left: 5px;
}

.page-header {
	margin: 15px 0px 10px 0px;
	border-bottom: 2px solid #0B90FD;
}

.ctfx-pager {
	text-align: center;
	line-height: 1;
	margin-bottom: 15px;
}

.ctfx-pager .pager-arrow {
	color: #505050;
	text-decoration: none !important;
	position: relative;
	font-size: 42px;
	top: 5px;
	margin: -40px 0px;
}

.ctfx-pager .pager-arrow:hover {
	color: #C2E812;
}

.country-flag {
	padding: 0px;
	margin: 0px 5px;
}

.small-icon {
	width: 16px;
	height: 16px;
}

.icon {
	display: inline-block;
	background-size: 22px;
	width: 22px;
	height: 22px;
}

@media screen and (min-width: 768px) {
	.masthead,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}

/** Light Theme? **/

.light-theme .form-control {
	background-color: #000;
	color: #fff;
}

.light-theme .form-control::selection {
	background-color: rgba(255, 255, 255, 0.99);
	color: #000;
}

.light-theme .btn {
	background-color: #000;
	color: #fff;
}

.light-theme a {
	color: #000;
	text-decoration: underline;
}

.light-theme a:hover {
	color: #0B90FD;
}

@media (max-width: 800px) {
	#header-logo {
		display: none;
	}

	#home-logo {
		height: 240px;
	}

	.challenge-solved-text, .challenge-solved-icon, .ctfx-card-head .time-left, .background-left, .background-right {
		display: none;
	}
}